@import '../variables';

@mixin c-sidebar__content-container {
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

@mixin c-sidebar__content-scrollable {
  overflow-y: auto;
}
