@import '../mixins/buttons';
@import '../mixins/positioning';
@import '../variables';

.l-app {

  &__header {
    display: grid;
    align-items: center;
    gap: .5rem;
    grid-template-columns: auto auto 1fr 1fr;
    grid-template-areas: 'logo title actions-left actions-right';
    padding: $l-app__header___padding-v 1rem;
    border-bottom: $l-app__header___border-bottom-height solid #b73;
    background-color: #ea6;
  }

  &__header-icon,
  &__heading {
    vertical-align: middle;
  }

  &__header-icon {
    grid-area: logo;
    padding-right: .25rem;
  }

  &__heading {
    grid-area: title;
    display: inline;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-size: $l-app__heading___font-size;
  }

  &__actions {
    grid-area: actions-left;
    padding-left: 1rem;
  }

  &__actions--right {
    grid-area: actions-right;
    justify-self: right;
  }

  &__action {
    @include button-colors(#000);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &-text:not(#{&}-text--alone) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr fit-content(368px);
    grid-template-areas: 'main side';
    height: $l-app__content___height;
    overflow: hidden;

    &-main {
      grid-area: main;
      overflow: auto;
      height: 100%;
    }

    &-side {
      grid-area: side;
      overflow: hidden;
      height: 100%;
    }
  }
}
