@import '../functions/units';

.l-route-meals {
  display: grid;
  grid-template-columns: 1fr 48px 320px;
  grid-template-areas: 'plan side-bar-selector side-bar';
  overflow: hidden;
  height: 100%;

  &__plan {
    grid-area: plan;
    overflow: auto;
    height: 100%;
  }

  &__side-bar-selector {
    grid-area: side-bar-selector;
    border-left: 1px solid #888;
    height: 100%;
    text-align: center;

    &-icon {
      $border-width: 1px;
      $size: 24px;
      $padding: 7px;
      $color: rgba(0, 0, 0, .7);
      color: $color;
      fill: $color;
      display: block;
      width: $size;
      height: $size;
      padding: $padding;
      margin: .5rem auto 0 auto;
      line-height: $size;
      border: $border-width solid rgba(0, 0, 0, 0);
      border-radius: calc(#{px($size)} / 2 + #{px($padding)} + #{px($border-width)});
      cursor: pointer;

      &:hover {
        $color: rgba(0, 0, 0, .9);
        color: $color;
        fill: $color;
        background-color: rgba(238, 170, 102, .1);
        border-color: rgba(0, 0, 0, .4);
      }

      &--selected {
        $border-width: 4px;
        $padding: 4px;
        $color: rgba(0, 0, 0, 1);
        color: $color;
        fill: $color;
        padding: $padding;
        border-width: $border-width;
        background-color: rgba(238, 170, 102, .4);
        //border-color: rgba(238, 170, 102, .5);
        border-color: rgba(187, 119, 51, .5);
        border-radius: calc(#{px($size)} / 2 + #{px($padding)} + #{px($border-width)});

        &:hover {
          $color: rgba(0, 0, 0, .7);
          color: $color;
          fill: $color;
          background-color: rgba(238, 170, 102, .3);
          //border-color: rgba(187, 119, 51, .8);
          border-color: rgba(238, 170, 102, .5);
        }
      }
    }

  }

  &__side-bar {
    grid-area: side-bar;
    border-left: 1px solid #888;
    overflow: auto;
    height: 100%;
  }
}
