<div class="l-popup__popup"
  {{did-update this.didUpdateOpen @open}}
  {{did-insert (queue
    this.didInsertPopup
    this.didUpdateOpen
  )}}
  {{will-destroy this.willDestroyPopup}}
>
  {{yield}}
</div>
