@import '../functions/units';
@import '../mixins/attendees';
@import '../mixins/buttons';
@import '../mixins/positioning';

.c-attendee-list {

  &__header {
    background-color: #fc8;
    padding: .5rem 1rem;
    border-bottom: 1px solid #d96;
    @include clearFix;
  }

  &__heading {
    display: inline;
    margin: 0;
  }

  &__header-actions {
    float: right;
  }

  &__header-action,
  &__action {
    @include button-colors(#000);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &-text {
      display: none;
    }

  }

  &__list {

  }

  &__attendee {
    @include clearFix;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;

    &-color {
      $size: 1.5rem;
      $border-size: 1px;
      box-sizing: content-box;
      display: inline-block;
      text-align: center;
      width: $size;
      height: $size;
      line-height: $size;
      margin-right: .3rem;
      border-radius: calc(#{px($size / 2)} + #{px($border-size * 2)});
      border: $border-size solid rgba(0, 0, 0, .3);
    }
  }

  &__attendee-actions {
    float: right;
  }
}
