@import '../functions/units';
@import '../mixins/attendees';
@import '../mixins/buttons';

.c-meal-plan-schedule {
  &__meal {
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  &__action {
    @include button-colors(#000);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0 .2rem;
  }
  &__date {
    display: inline-block;
    width: 8rem;
    text-transform: uppercase;
    font-size: .8rem;
    color: #444;
  }
  &__date-day {
    display: inline-block;
    width: 2rem;
    font-size: 1.3rem;
    text-align: right;
    margin: 0 1rem 0 0;
    color: #000;
  }
  &__meal-tags {
    padding-left: 1rem;
  }
  &__attendees {
    float: right;
    display: flex;
    gap: 0.15rem;
  }
}
