
.c-meal-plan-schedule__attendee,
.c-meal-list__favorite {
  &--kerry {
    background-color: #08f;
  }
  &--lorien {
    background-color: #f88;
  }
  &--lily {
    background-color: #f8f;
  }
  &--joey {
    background-color: #8f8;
  }
  &--arya {
    background-color: #fa8;
  }
  &--harlow {
    background-color: #88f;
  }
  &--amelia {
    background-color: #a8f;
  }
}
