<header class="l-app__header">
  <h1 class="l-app__heading">wtfdiet</h1>
</header>
<div class="l-app__content">
  {{outlet}}
</div>
<Modal @modal={{this.model.modal}} @modalId={{this.model.modalId}} />
