<div class="l-route-meals">
  <div class="l-route-meals__plan">
    {{outlet}}
  </div>
  <div class="l-route-meals__side-bar-selector">
    <div class="l-route-meals__side-bar-selector-icon
        l-route-meals__side-bar-selector-icon--selected
        l-route-meals__side-bar-selector-icon--meals
        l-route-meals__side-bar-selector-icon--meals--selected"
        title="Meals">
      <svg width="24" height="24">
        <use xlink:href="#meals-icon"></use>
      </svg>
    </div>
    <div class="l-route-meals__side-bar-selector-icon
      l-route-meals__side-bar-selector-icon--attendees"
      title="Attendees">
      <svg width="24" height="24">
        <use xlink:href="#attendees-icon"></use>
      </svg>
    </div>
  </div>
  <div class="l-route-meals__side-bar">
    <MealList @meals={{this.meals}} />
  </div>
</div>
